@using CarInsuranceQuote.Models 
@model Quote

<div class="card mx-auto">
    <div class="card-header">
        <h2>Thank You @Model.FirstName,</h2>
        <h3>this is your quote:</h3>
    </div>
    <div class="card-body">
        <h3>$@Model.Total per month.</h3>
        <p>You will get a copy of this quote to you email.</p>
    </div>

</div>

